<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <meta property="og:image" content="{{ site.social_preview_image }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <img class="avatar" src="/assets/img/avatar.png" alt="Imagem de perfil">
        <h1>Henrique Sebastião</h1>
        <span class="description">Desenvolvedor back-end</span>
    </header>
    <main>
        <div class="email"><a href="mailto:contato@henriquesebastiao.com"
                target="_blank">contato@henriquesebastiao.com</a></div>
        <div>Olá! Meu site principal está em <a href="https://henriquesebastiao.com">henriquesebastiao.com</a></div>
        <div>Clique no link para ser redirecionado e conhecer mais sobre meu trabalho!</div>
    </main>
    <footer>
        <a href="/linkedin/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="/github/" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="/mastodon/" target="_blank"><i class="fa-brands fa-mastodon"></i></a>
    </footer>
</body>

</html>